@media screen and (min-width: 600px) {
    main section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100%;
        
    }
    main .video {
        max-width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    section {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .texto {
      h1, h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

