//mixin flex

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin grid($columns, $rows: auto, $gap: 1rem, $justify: center) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
    justify-items: $justify;
  }
  
  


